<?php
/** @var \Twodev\Test\Block\Index\Index $block */
?>
<?php
$collection = $block->getDataCollection()->setOrder('id', 'desc');
?>
<form action="<?= $block->getUrl('twodev/index/postcontent') ?>" method="POST" enctype="multipart/form-data"
      data-mage-init='{"validation":{}}' class="twodev-test-new">
    <fieldset class="fieldset">
        <h1 class="page-title">
            <span><?= $this->getTestPageTitle()  ?></span>
        </h1>

        <div class="fields group">
            <div class="field required value">
                <label class="label" for="value 1">
                    <span><?= __('Value 1') ?></span>
                </label>

                <div class="control">
                    <input type="text" name="value1" id="value1" placeholder="Value 1" class="input-text required-entry validate-alphanum-with-spaces">
                </div>
            </div>
            
            <div class="field required value">
                <label class="label" for="value 2">
                    <span><?= __('Value 2') ?></span>
                </label>

                <div class="control">
                    <input type="text" name="value2" id="value1" placeholder="Value 2" class="input-text required-entry validate-alphanum-with-spaces">
                </div>
            </div>
            
            <div class="field required value">
                <label class="label" for="value #">
                    <span><?= __('Value 3') ?></span>
                </label>

                <div class="control">
                    <input type="text" name="value3" id="value1" placeholder="Value 3" class="input-text required-entry validate-alphanum-with-spaces">
                </div>
            </div>            
            
        
            <div class="actions-toolbar">
                <button type="submit" class="action primary" title="<?= __('Save data') ?>">
                    <span><?= __('Save data') ?></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
<br>
<br>
<!-- Test Data listing -->
<h1 class="page-title">
    <span><?= __('Data Listing') ?></span>
</h1>
<?php if ($collection->count()): ?>
    <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Value 1</th>
            <th>Value 2</th>
            <th>Value 3</th>
          </tr>
        </thead>
        <tbody>
        <?php foreach ($collection as $data): ?>        
          <tr>
            <td><h2><?= $data->getId() ?></h2></td>
            <td><h2><?= $data->getValue1() ?></h2></td>
            <td><h2><?= $data->getValue2() ?></h2></td>
            <td><h2><?= $data->getValue3() ?></h2></td>
         </tr>
        <?php endforeach ?>
        </tbody>
     </table>        
    <?php else: ?>
        <div class="message info empty">
            <span><?= __("Oops, no data found!") ?></span>
        </div>        
<?php endif ?>

